<div class="section" id="about">
    <div class="container">
        <div class="h4 text-center mb-4 title">Achievements</div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card" data-aos="fade-up" data-aos-offset="10" style="padding: 20px;">
                    <h6 class="h6 title">Applause Award <small>Sept, 2022</small></h6>
                    <p>An award of applause for going the extra mile by delivering a solution approach
                        to the team by working on developing a POC to migrate all existing code bases to GitHub by
                        configuring Azure Devops pipelines.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card" data-aos="fade-up" data-aos-offset="10" style="padding: 20px;">
                    <h6 class="h6 title">Spot Award <small>Feb, 2022</small></h6>
                    <p>An appreciation for all the continued commitment and contributions made by performing
                        timely analysis and resolution of technical issues during critical business hours with no
                        impact to the business flow.</p>
                </div>
            </div>
        </div>
    </div>
</div>