<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am <strong>Vamsi Yanamandra</strong>, working as a Full Stack Developer in an esteemed
              organization.</p>


            <p>
              I always aim to work in a challenging environment where I can utilize my expertise in technical skills
              towards the development and
              implementation of new ideas, contributing to growth of the organization.
            </p>


          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">16<sup>th</sup> July, 1998</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Gender:</strong>
              </div>
              <div class="col-sm-8">Male</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Marital Status:</strong>
              </div>
              <div class="col-sm-8">Single</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Location:</strong>
              </div>
              <div class="col-sm-8">Hyderabad, Telangana
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Languages:</strong>
              </div>
              <div class="col-sm-8">English, Hindi, Telugu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>