<div class="section" id="certification">
    <div class="container cc-reference">
      <div class="h4 mb-4 text-center title">Certifications</div>
      <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
            <li data-target="#cc-Indicators" data-slide-to="1"></li>
            <li data-target="#cc-Indicators" data-slide-to="2"></li>
            <li data-target="#cc-Indicators" data-slide-to="3"></li>
            <li data-target="#cc-Indicators" data-slide-to="4"></li>
            <li data-target="#cc-Indicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/OracleLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>Oracle</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                  <h6>Oracle Cloud Infrastructure Foundations 2020 Certificate Associate</h6>
                <p>
                  Issued on May, 2020
                </p>
                <a class="btn btn-primary" href="https://www.youracclaim.com/badges/1d42d8d7-6d74-4647-a056-3c186c3fc05d/linked_in_profile" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
               
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/OracleLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>Oracle</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                    <h6>Oracle Cloud Infrastructure 2019 Certified Architect Associate</h6>
                <p>
                  Issued on July, 2020
                </p>
                <a class="btn btn-primary" href="https://www.youracclaim.com/badges/5f4371ae-e4b9-4c14-82dd-4a2b658dfd71/linked_in_profile" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
               
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/HRLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>HackerRank</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                    <h6>Certified Problem Solving (Basic)</h6>
                <p>
                  Issued on September, 2020
                </p>
                <p>Credential ID: <b>6DAD9E642CD1</b> 
                </p>
                <a class="btn btn-primary" href="https://www.hackerrank.com/certificates/6dad9e642cd1" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/HRLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>HackerRank</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                    <h6>C# Certificate</h6>
                <p>
                  Issued on December, 2021
                </p>
                <p>Credential ID: <b>908f70843865</b> 
                </p>
                <a class="btn btn-primary" href="https://www.hackerrank.com/certificates/908f70843865" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/HRLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>HackerRank</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                    <h6>SQL Certificate</h6>
                <p>
                  Issued on January, 2022
                </p>
                <p>Credential ID: <b>841dbf8fbd11</b> 
                </p>
                <a class="btn btn-primary" href="https://www.hackerrank.com/certificates/841dbf8fbd11" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/PirpleLogo.png" alt="Image" />
                  <div class="h5 pt-2"><b>Pirple</b></div><br><br>
                </div>
                <div class="col-lg-10 col-md-9">
                    <h6>Certified Frontend Fundamentals</h6>
                <p>
                  Issued on May, 2020
                </p>
                <p>Credential ID: <b>18698388</b> 
                </p>
                <a class="btn btn-primary" href="https://www.credential.net/0c5bd4d7-ba30-4608-92cc-511e75743df5" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Credential</a>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>